.popup__avatar-box {
    max-width: 430px;
    max-height: 272px;
    background-color: #FFF;
    position: relative;
    border-radius: 10px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 4;
}