.profile__avatar-edit {
    background: none;
    position: absolute;
    padding: 0;
    border: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   /* max-width: 120px;
   max-height: 120px; */
    cursor: pointer;
    margin: 0;
    transition: background-color .2s ease;
}

.profile__avatar-edit:hover,
.profile__avatar-edit:focus {
    background-image: url(../../../images/Button__element.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
    background-color: rgba(0,0,0,.8); 
}