.popup__container {
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  position: relative;
  border-radius: 10px;
  background-color: #FFFF;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  z-index: 4;
  padding: 0;
}
